###############
### Suporte ###
###############

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA21xI1hFvB7IIGOXq1Og7c8g00aqPdJZNKv10QKtpgV8h9BZMpLtXaGG9nMwy9wFs5G4ZMz38cQHw1uygn5WjXpJR9l1qrwJv72cCwVuUpfeYU2DSoPuCncugyUBJEhEN0TgUa2K4JxxFbtYDg9Rs6tKhDXMzypOooWdzWImIxacbW7AkF5d32nBrl9ce8Gl54xICskV3KiOhLP9+foslqNMajwMxJjziC1h4sPqExmoK2xFtQFgwkl0bgR1I8UfTDEaS6+TmIEvRHsTfS/ImpKufx9RvwSVLIMJgnyRmzwb9bbK4sRTOb8sgbZo94eUGMCd7LoxpCc5AfQS5g8vu8Q== root@brcpsotrs01.local

###################
### DevOps Team ###
###################

#vntedch
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgY7X64rTDzo6qe3gyGRFNdTMvd5j9v7iHwbuJMdc6c506FGDSlsHlia++E2JuVxd6GVL98QaZI9bBL2k7gOW2eSE5X4Yy3vG1DuqOHEE6b9jaKgpJtLyY+TeOn84vP8zB1mv13+X5QPjwatiLZVfEDsY64QR4kGrWwF51WSavPM0iQACGRVi6+qbA1LwkksmOXWEViBUUJoUOrNDACobQ94jBQHBFFGNR5HGQHV0HgdglAWQJXw1+a4COP4cvUXuwv8k1OrK82p/9hHDEV4KqZZ3+ty/vYdk/faMgzfCT9LCizsYWZJ7vldRCJmJaF3QDZJQ4EdLjmauN2vot+o8d vntedch@vntwksl6298.local

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC6SfJvNIFgf8jbmtkaaORXrBVK+slgM64UmBhu6BANlqgn5/ian97zHCybnLNXWV+ff71beMZm7Ea5K4LiACvwrZOUelSh7gtCv7YZAIHhBWJh5EHuoXrI95SqAR7tR9d1OUq/xcIkRf7QbnsaSjOS+DZ143+1wi2J5FGJqeRbfTAZU60A1SIZTSMuTkMHNyBzTk9lvkPQmlBg5tmtq8AzA9GrA3dryKLCZa1h/TOHHn+8hJ+1R6rH3e94H9AP3f2uvbenjxCixMkmD6tmb5lQJiFaaZtsmUxq3XWHbNjSciUESb2hvOVjqhC6Iz3eWlHfBHqDvE3I7faQNHYEHfGF vntedch@lw-441-8792

#vntniju
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCuMjerAfmMlgzam329pXKI7n0V5Ae20YanPrtwhgcWYGSEtLazZ7zCEtDkBMl+XmZx9nP4WOiEPbUfBmH6QbsyeML0Q8dZGb0aRklcWUqsR3a2ZHebnrIC3UtMul9N4s1oG4bG+EmYS/SuAlnt2lBjB0qHKseWp9M334aE+yWkYDZ0USe0rfgrd5ICopJOlNyfC6+pQkoByOSKWXc0hMvGaKDsRdjMgxZ/j6IX/Ru7LELiUbP/xQvR2B4Ej1ET0UwbZv320EB0s7dlJsYebUt1zW510ieZfQtz3Ed39DxN7J1ONq+kEuzlNZ/zfd50rfpXVp3pANYLrZl8jdAnAqZb vntniju@vntwksl6167

####################
### SERVERS Servers ###
####################

# sd-artifactory01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDZUp69FSw+3d2UrBN/iS/naPppF2zm6+EfyYHxS5IId8L70JyDMqUq9/kmRY6faBYggFril9cVg525nHVTg0Dd+3EdJE0XamOPXf1eXBNKOUMItgbQ91sr//z9o9hE4/yNKpFrWVxrBTDUekdpBtAeTuncygag1sqegLY40LddCBaL4ajKG2o9W2R0BCGnlawND1/5bY7XkbHYW7V5DvFYzJCSE0OxQR3ReHkrEnbE76BdWXJ6dwEmNMnD2uOhvJ9xboARCTCrH9pIAiMPZMaLk1P4Dl89617JeO/PWWACfrhSUL7znOqoqu+bfX2BGxrBTsJrOKIfLIfl10fU82U7 devops@sd-artifactory01

# sd-devops01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDfjNx2O0cJAiYmHu6fRn2DKHgoBQVomD0tM35gm2GhbF1D6BQm90+FUTxUyARl2gZMmQU3C4mQR061Qt1AfEV0s1lfvQodd4F0+FzdRR0InNGMfaQzhe9Uh+H7vuq/EWl84uiMFHhO5w3HjQszMmMv5GFGryL1vgk70qFTiv+a/sAooqwgGZ7ZHRRhhxik9V6Wdsh/TnJAm8QCWJo2bS+NHavPmr1OuTdyeog790z76M8K5az5uS1z7S1kX7xDA8bRSvrllvvXNeefcwtC043ZCe5jHOlzyla3OtcHdyPicOOPg5P5cXmeeiXJca/OK617pXuUBgSvhRrrfXbQmLkR root@sd-devops01

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3aEOyRqw5yoWqDnYmk5036p3WSMgqZSyxP4Xx3N46XkZCSJp9NfUfK5DI1pl8BQRsZ7zaIqPgfQNXgOXy1keZy/T0C9AieLPo77ARlbxuJLZSa0drqZFaYSh22TlnTxqGFDZ72takDv5Mf8t+joCVdE1taLgqG4hm6SlU3WVaA1nskbwLfWk2oNOpogPMJPXrOIUmz1ydMJp++ubV+7S1vZd4HT2iGaClryP36VsvLn3yGT+p+L98uRaLJYsXTdzzsSNmNXfR+bGI2ekd9KeRZUE2sH7UeWJBjzHQk88ass1rQgsNU4OiSrIUdY95hMVHSmNL7SKyxSxG8H3gPFwV devops@sd-devops01

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDDqvWe/Jm1jKcMAAtnSEDLN4NcMIbgWnYulVqeyInLPR9t5oqa6Kb3Xrv/SRfpv37CLvJV2UPGR9rc1MQDCz3WOum+kDJIdztpFFVUrEzxBoe6+vZeKzWYpfs14I67FDeQzeNyJ0itteKmkdsbAyORF6tPwuwJcwYm5MH6QAVGCFiZgdxvZQFWDy9fjYPuca2C7+CbuOEkx33ZQi6akJ+w81rrm1z3NmbSfJFFZbm+QPrgCo+5fzhoKESu3soKJyD40fi5Ed5nznp4NWHf/QGfn1CSRbr5kcw+Rzdp3wvGEbvK0foN4VXmvVjgJJtzZiA+lR19FXv5Tor7uPvrpoOV rundeck@sd-devops01

# sd-docker01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCUtGbc7I5sthiezZs3aTfy9BcERGdNKXSnaHrm1b9CxILTyglLRxvOVDhhIPPyO6q/5Pq/nH3MOn5VAT/bIaJxRfzaaxc/7OAMlNJvvcFg6vntD2Cz5qzxEC4q68vPN/g1veBCxLgTptphlG1ZFytSVIwyfg/MVptx/42bzB42kDgKeirESgpC5uP/Z7JTTuJ9isaiIt/3/MXM2jKDCgW5yGD2wuX/3Xh6RmQdkisG72lM2mf0LyMc3lFXtRb9X+rp5ZH0QNbIl9waLZ1o2zOrPNPVdZolkNg3xB27yPZlfULhkOAJwio+v8RawnfvHtpRGoaDtO20NZPo/euK1bdT devops@sd-docker01

# sd-gerrit01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwVoBKKulZKdh09Pf15itkD/hd13RmldlCx/t2uyzA1J0ZZSYmskqIqiu3GI1eSu0kf4sZcNMsFGEPvr1I/NnXTVM/lvzNmTOXM1lfVsXcLN37KdqwA85gzy7ey0ccKe0mRCNMn4OWutQJmws1WsIIAQABePgNgetx7OT9pRu7Wjpd0VUzQzq2jblqtF09TDw5DXQD+dHaZqVKIu07Ldh1+YPuAOnCMEaq7okVXOmOR6VMumcWbtkzeSTeGj9igYFtuOIqUAUckERa7LoG+qH5M9K4vBBWY92mICqh8r8MNVgZhchistMyoFdtPoo8dbij5WjJU34QctMF+sreM7BD devops@sd-gerrit01

# sd-gitlab01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCoN8+Kj23Phq+/r1yFW073iZyPR3nRjfNDH3XTc00SAd6uMlXecYK8CRpDk9jLhGi0StLsT0rDvZrFM1fQ61No+PQKTy4psIiLbDA/NfsdADlk1Sr4ZwBuRYwvIEURjXZkWipAxlIlV7UE1mSTiJI3HEGS3zwcbSiy/6Bn6SpDg2xdFA5QjarFwRav2oIDjIKaADICtUMN6XLBRm7rWnFkvDiAMrelq2fGot4TDHtBxlDke4ifKCT9MHkeU+lU4F3j2bFDwxwUZCisiAJbQjjDG1QzT3Apa2F8Ml+oHtNABP82nVnqInXRZxZrj7uc9X/rKagV8Ll66YFmg2Wm1F4N devops@sd-gitlab01

# sd-gitlab02
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDHonTP80r+TwbLMIQO8lDCbsA+Y0sirmOTQup6jgSrZGuVtajLlBO7fIHppWjldfXSfFHDPfJvBRSJwr9XOmJ1uwtLE5b5sc+tvGxbALCjDunxNiYHlGEUGkw0xh/qop2fSzdBhl59/9Ttv3lJP9fHbzSHgmESFcBDTFoYGHWR4yoWyvJTO5ClZjo0PcGSE6IHxx7DA5nsj4Kccz2m+AkLPvaywcsp8kyInQWi+tN/xjnOGJfz7MMNsGA7ut7ja0lwmKzUaPeV5NiiqMPCO4P6aSAffgZJ5hbY70OoQlamnTYu1T0ESaHpyzYct2OzFsWVwgHUv7I44n5zaYW3hqMN devops@sd-gitlab02

# sd-graylog01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwmHtzRp4EMpitbBpcVdd6hg1Rn4YJniobZH5nftcplxYyagqs4KNFLavaiLrWz//STjO+KQtHgrlDt9RVsQSUwbcY3xqgVGnbZzXccq4fCdbMNt84nztI9pMsE/vRAmVLSIu7C5xirC2CApcNQ5tfP1a8LLBvT7C+194XDk4G7S6Bk5nH4PesbCkt8YqFHWE37eCGALEbZ07FLburQE3h8SFsl1Tsc8t+qSAA/iofPv46mWvKwJ49c80gAFpMCpIK/mntxW0rikjli29Men2iFtJbYRYdqWDWbJJXxXG5uTDm4IkNj03I2lrUJC9wMmIMkMZKTUaFYb3AzcJ6EpQl devops@sd-graylog01

# sd-jenkins01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC2eFwCX19YDEv5YMALJuXGXoNi6DmmxN6AQkZHNMrWhUV7g9YKOEd2akXwS/qVn96Z4p88f16jKTlh/RQ+prUbAv9eAxwA+CAL/5x9sQRCBkIt3dE8y/1Q/Z+E0jM1Fl3XKI5ZMz1X0KEUqFKsnQ/xTNrXJOTwtw770IaSGuIU1cHnkZzNHisCPR/tyBwAt8YCGgx87UCZ3Jn3HcB2b2HEBpofjMHrl7dMcESLIC0oRri64j2GmOoJq/39/+9NlTp7yMLZEDVKZaa8v3cK5/EP3FegaFusrPe5jj0aemsiiDRtZJn8d2GHXbf3jJ9ifU/P7f91tu5cRMJWd6Dj6WF9 root@brcpsjvm03

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCdr7YQxKPHUDqy4yl80MXKgFZFySMniO8h/QCB4Sx4zVu5NQUnjPzbxQ0UJw/zFTcixxtdXTjoXxgjUKxn0EL7D3CdMjYnuIfjXjlhkbco9ngK5rzW8MO9sId8CMClGHlhvqsT1Wkvbkd8V+EguWGcL5YNZdkl9z7E+xYR3Uu88udfCRWVwcr79kRlmGp1aGDkHXDssQkC6bCTEhe9UcwFzph+eYi6hZzFNOwrztBbcH6hw/M8HEOl8DyWj28q8YRzilUXZ8lXCsmSJ+apF4gns7Zi3QXOWqpWlf849aFuWRvvaUgsNmboQMqSVPcbW37bXYCCJHPmbdEumOft3maf devops@sd-jenkins01

# sd-jenkins02
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDCtYZr3+PRijNyv10T4HXTOmyGJoDYba03vMp/lYM6k4tKi3avx4I1vm3uFoe98mgMktLQ+aKHSF7dfPvyurxffJ19zeRqHhCfmwkXl5b93jyndyUzfbWMlpwyNQG+cdFFhMzY5giu8b058pLZVIPRYJ/7DWduyzq8OyG+WkwHhOKejIhn9m46K88vLlD3pwMsoOBZK70uiennda9QciSnnM0YjBSbnQ+c5BSxcjZgPYsoSDz8b0vRmL226wSVQbfCJtIS6kvYAgvAwsmurGKLoo3NOh61Todc9naoDh1Gen4xoI2GASBMt9WHhMM7Q9dIjH8JNOvt+fOqIUdrz5jr devops@sd-jenkins02

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCqsm+Nh2n/vetyeF7nObTz4WBlbRXzcIqLvhxFg1ReGsYubU7t/Qfy+7UN3YEsSrGY+I4WM/pmwC54ayhklXhIRd/pl1Hg7ZbhKzOIwpS7mOeuy/IjELhpqc1i61jzw9t420+SQDjLl8hwQdRJxmZuV+P5Czhxm4IalDnxBtpUTSOgxTp0UUf/pDsnNkBaTMs9fp29e6Q363rfA4+pYXSVFiAoQehilK385pIz/+oz/69ggJQbGT9xRsSm+PtAIFmmfjpKiYR9ZU8G8QhWpSHROld/6FzT9xikHWgFtlae4/1oU/5E9ZWMSyR0Ir85pDpRVOTj0xlU5W+MT17AB2ID hudson@sd-jenkins02

# sd-jenkins03
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDCtYZr3+PRijNyv10T4HXTOmyGJoDYba03vMp/lYM6k4tKi3avx4I1vm3uFoe98mgMktLQ+aKHSF7dfPvyurxffJ19zeRqHhCfmwkXl5b93jyndyUzfbWMlpwyNQG+cdFFhMzY5giu8b058pLZVIPRYJ/7DWduyzq8OyG+WkwHhOKejIhn9m46K88vLlD3pwMsoOBZK70uiennda9QciSnnM0YjBSbnQ+c5BSxcjZgPYsoSDz8b0vRmL226wSVQbfCJtIS6kvYAgvAwsmurGKLoo3NOh61Todc9naoDh1Gen4xoI2GASBMt9WHhMM7Q9dIjH8JNOvt+fOqIUdrz5jr devops@sd-jenkins02

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCqsm+Nh2n/vetyeF7nObTz4WBlbRXzcIqLvhxFg1ReGsYubU7t/Qfy+7UN3YEsSrGY+I4WM/pmwC54ayhklXhIRd/pl1Hg7ZbhKzOIwpS7mOeuy/IjELhpqc1i61jzw9t420+SQDjLl8hwQdRJxmZuV+P5Czhxm4IalDnxBtpUTSOgxTp0UUf/pDsnNkBaTMs9fp29e6Q363rfA4+pYXSVFiAoQehilK385pIz/+oz/69ggJQbGT9xRsSm+PtAIFmmfjpKiYR9ZU8G8QhWpSHROld/6FzT9xikHWgFtlae4/1oU/5E9ZWMSyR0Ir85pDpRVOTj0xlU5W+MT17AB2ID hudson@sd-jenkins02

# sd-jenkins07
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCyY3+HPni+tfrxDFpRZDOlD+LVc+HCT0DI7sI+88zI9obVgsGQtzzAcS9LvoVvNtvHwq7KMoFqooND4lefJMlqobzqCLU8DY2Q6MrXvW9ItAiMFcuv9g1u0cMbCez85yvVY7mrho8mr3JO+gBmOyiJobyAZG1X8lDfGGPUcXI6JCVATrABPMHYP/znWgn7db4/ZjR9wxFckgo3VXAE4ZqKaOdlrCtaD5VIfxlKCpxzmdNGlPZcwt2/02RzIxEH0wK7a1Jj0Rw4Z0eM3C79V9iYZKt1Xg4aOLRD9NUj0GqKTw9dMQFOSNVAZEn6JV4El6uvQOeQ3OvFXGbSSd/xi0F3 devops@sd-jenkins07

# sd-jenkins08
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDRKmI/51UCaljDoWE8E2OcVieXKSHX82TyGLtWMdD9bgyzYrxJY4pc0rjy/9rqSChkHjgyDIkf4ky9VYxWNYlORRNP3dU0fxMmWjqkPIJi82j6TJPwaaI+tCfaKiLLuZ6jcj4VCbgKOlnkq6cmhvTcCG6gIu4AgBMLHPxRLuG2XmPSDXjJcwH4ANX/kkntEuSqNAOBL5pjrAoQ7v0a94AEmRzkDFUrRACElr1JJZpKfGrZk6JU8vL+7YMr5QprPVTzyLYIYgTYpOJ1Vpj7cc1qha8DUcMRq8/ijce2GMVJPZ+sbs/Y3wIz8E4lQd9WCOOTo3ABK6szp3cQJy5tTA/Dq3HTRoRH9fJ5evnY63RefzpY98JwxCVaiKcJ43xAPkrRQTBn0fdN6kT0RZUWRMlpjqk67nrrJRWgGnJNAi7Lv6kZZrl8Zy8GXleiBn65lYgVNtyyFUwX71QWN/YPSfPDotP0lvabn7+BNVU+U5hKIpLcn4nduo3+Z9smfid/3F0= devops@sd-jenkins08

# sd-jira01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC28RYj4AoGgr9GcbLlE/7ZxJWgu27U+LscUFHRzy4CN2WcSS/SVdxHRnCVfpDr4XkkwK+uqDiLcw5DjipaYBEameYPFKNPLVPIMcpPyHx69xgEb07fcHVAReT8/ljQN0HhlotBo3O9mK09O8j+n4/1EgIaZMeG25jUaThNVoNu82TJ+duLfe28IHsXzothytOtUWcZmpHdFQXD8s1Rl3/A5DKSR4/SYLpl1mnCES7KHtfcWDmecixcatf5aCKPy5ndKPS+4Bpg9kvcxGwyIhtKB3wAim2A6gqR/5rrD4Rz8Wwil2p+sggefV2ZVAOjZAPoZVauy7PSwiA0oAo69rvV devops@sd-jira01

# sd-jira02
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDHV1XkHBUpoSUfKU8sXGbUhwhnxGDQI34TvTj1zQPd51zjeJ98BfOtuToRvG+CHqGJPZM2GmazlxsjfRe4fK5PxoMHNwEFvC+x38Cn8z3vi5u6QPJ9ZMyuYMD8hHHlqHs7OvoPOde/fzPsM5Jb7V7JTaRwUs7+/BZ7eB2g4JRVMu9KagFcm9wsI5e7vgYI1HbfqiQngK65YvwtO2X2GTtA8tj7k7Wr7ncTtSlPqyA+CTah53/y5qP/xUGKHFhZ7vHQwE6bI5Ozgj7xmVQzpGTYFPdoWfWnKo3dh2SpToHRE8cxjCWAKFZz9prvQO5hOA+kPzfKAaHHO9JcvKfDo9Wv devops@sd-jira02

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCg11cS80dV4QCb0nsksz7qAlmO0O2FXd3/YIkgiyBfd6ClzirrbQxA+rMtztN5mUcRqz/n80VoNuDcZT02G50vD5CqhVal7PxxnuVS8/OpIiBnpkE+uySMnssIrrfYgEoOr5lAYLn8swV8Bw/mbVKt7a7mbhvZs4PkCmYCGqASbMEt0saeibGyD/sCcJhtIRUcFrqENfiDL/PN2jQBl/WsdLhTFDjle25IgT3Qc8wWm1+7vu/o75etxNK3Dt+6cYmWm9jnxNQUgZayH6zzsAQfBji7/RXaUqtDZMNrcJp5u3DdRT6OjSPy54I8r2lEPsGyZs5YkclEBlUBPbAPX/vJ jira1@sd-jira02

# sd-kibana01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDSnz54ZKqWMueIIRLOTbm8l/sW4EqybEz82y0nxLDXwwjjP+a5qVGPbsLtomSz4BW+BEwetZJi8STtNd6S8sFojOVtRk9GwD4zInywYqt255etgKCXsP7N+QfsY+uQYTtS9egZ2s5TXifdcFZoL52/QMFYQHC7hYq2cPxyhtwbwnLkkITZPw1MAqqPqy0S2I/x5mxFv5sZIExCG2VB67/eSzUs0uN0GLT2QAVyAsT95vftxWxhjpFs7b72ZcxtvjfmbqtNc3Aflets0NQKVQv1v/xHU00YvCxBdp4Dz9FCcmAVXO/NiWknmzH85dd9eWvjcHafjrj14n0lvK6T2IIJ devops@sd-kibana01

# sd-nexus01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/Fw0sM5I4iO1q0xZLnQn3W5GoYRW0QhIzoe/F5RswUVEHB2U3bWBxEbLhRYrErbsHGcxA9vwMWnDFfKBGZcsRXr3qS9xShllmW7a7AQkBaCPds2BtUjtXyuqPtcteZ7ixOopUGI2jwZewAJ4WXpzj3aW9BhFPVnkLMFldLEpUiVSvZ4KVfj+47oFQlb8pUjJvCPCFIos2QZaasQUZt+Gvk6VA0FTZ+Nk/Rc2/t8ttiphOlgS/Jz5L1ROGgO0d4A+XDNh9Qw7kX1vbP44a0JPU1MRkEKJ56/PXFt9Sh2nKouU1CCpKBLuwdCt9s3Rya8bW+PDpcRVPwX9t1N++p8NV devops@sd-nexus01

# sd-pix01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDbIy+lA1gUJJjqOHI3PQFBQMNI551Xs6WTELIoAQM/XzfFeLwbDmWJKQM0c9P4OEe/WYWZXPJQ3Kd6pnanBMW73CIQF1cWO6qsCcblt945MCEs7xwxAZzajnN78Tt1mtBCiusqaaEHDp6jJIjNQ7jR+EDRIU/xf8awnyeopGHE4rYk+F8+LRTsMqGK5b8f9HfRwhPa6W1zqdyk5sF5TWwHtcxpBPlR8LkwCdfGhh8zacQIvO2K9G9Mbqc/ziRZPFvoR3IQcsM1xlao8J4Awg1dTVIKvyElTuE/xtjC554cZnjbroeSot0S1l0VJ0A9gtpM8yoaS8PVhOjZjA0hWJkJ devops@sd-pix01

# sd-pix02
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCTPiaUhrDy4nh2UM2TWxTn6qu3tjZNQn9NaxXl/+o8eSAady6lCP89z9Ax7vVbi69heCRGHEVv4dEPtgS40e8793cFbJTc4OEQb2C+qO+4GPIuUM6dQ78stgl4zdDfesmWT5yMogD+jO1THgCy0O+2PPGjmOPph3juKsZXMNpxy3AqfSiNs7Ne9ahPdbbKZFsIsMVd479pyw796VUmDNwbNTW/KBMM+fyD9ajh50mqKVYqCiX0fLt9viDZ2LgJ8cGi41hDr8u4+ddPLzWNhvc8BexpAcUEQKN59Y/vNGxs8eCiWAMElnXwb8r5sjErOUG+cmkUh/KoL9laDv0F1V4V devops@sd-pix02

# sd-rancher01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDIXAGyhepuRR3HvULZia+PBmSc0H/wODlS7A29mAF2I6SK4tjES0MFpjdb4CR8ZumWBTIU9tdatFUc3nZJILJxxADH3cjjrztKB9EB71bwKKK60YdYRxnqwAUZ86q5szhkRhGDqDg2Itzdo9UigrH5f9vBN3yK+mIfmk2hIQUeLacObvwdAKuFJ/SdIXA95rKK9ciPTyhZBB5fyNVQpvSoqw21WcZmWWAWVJhfH2f0KBRxXD2oLcHoOVZXHJmnNMvdsn8aDO3okvq6PfTocTXCIFQrt6agS749auvX1qSofg4jauXMKxsYs2Nc6Bzh5wjve6vvOFpvfYaHSk7wtrRT devops@sd-rancher01

# sd-rancher02
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7rmBCmQO8lGJ3RPZb9ww9vDcZPgFYHRMmTDaNa1osV4Bum/CZQA/kg1u+kII4dQ7010jhvwc24rzba8a3gQwUb2fioUbf/GY+HitxCqlD0oElRh6JPDi032Pr4FrHkHdEM0ncEJoSvuG88gDNmJsiydA6Bhzo0E1PyOcla0J1mzRxcmi1b10rAJQGdvApAyZor+N7mg2GLRWHTaZjZN5y/jQ+KQNNpMsL/vUTPOuALnaiibgtzBh31mpFFbUPKid6MxPTZ9PcRazdvvolfOt7F54WiMPE+lzsrvuPvhaqTTIJPOisBSC7q3MJ3pXzcR7Sq7plo8Lh6R0yYjlK20aJ devops@sd-rancher02

# sd-rancher03
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDHQ5sda8Sob8aiQNf1hM1HGWIFhLhz4hlitHeBU1ib9s8NTaq6zX9+UTidVAPEqrlr+EBLPETWiMRwbjDEihfzFxzfeBsp+kJNreZnbeDEGAMWB+AfWi5Ljl5TS6q15A6U4bPBxx42F7y5aFJs7ktfY2I366he9LOgPbXdBlLxDUlrro3GjMETNTUdlhoLVe2BDvPUBOtPFIGCAZkkj7QlqIsGIumarvjJVsj0tWlJCyuKY1X2tCKuML5Gb6jaEdIIRfVMNGKxGzlztrq+iMD1ezVLgnYTN4qA+kYzgDquDFtPfRmgOJcydDMZUfKBhCPrbsSt5k/iaebdyC7ka2AR devops@sd-rancher03

# sd-sonar01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDB7HichXpbubLuRJp/V4y3S/s/1ltpFiFUZh7cIw1A48yj3uAVazaODLpNIGEWAS9Nhc52MfCspeMRrIl0msjQgVKZePbJkaPT8ca2w2hkHL7Di03Fvq+R62BZmw2dpNZVyIAZOGVXLNS11+gaRATflYeZZk6LE9hIzgRGKFYAtT+1DRyxtxQy0g7z0V2cKQxzQhtM3G8YF5gNEerS35JVsjzfeGa7ileF9+Rze15bQXkCkWrNzR2gei5FG4XBfzfAtceYLtGl+aw0QioSCi0/Nni6nIFR0JzAt3e6nN5ooZOPG/WvehzQIyOcsIp+mR1zkmuqB+S/5CzGWPM+kmwd devops@sd-sonar01

# server-tools01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC1x0hJEflR7cg3pFa1Pj4DDrN4hGDvomdU+nuw5un7/GXkOUv8e+FMkMlq3iSvrZMo1GL2HUWZCJQ4ZxkMVDwQbyiawZJfQV6db0AsDCD0TEeY+zuI+RAR+TDBZF4wa9Sry8EX5VfsGbpDhTBIq8UpgyXl+79Zl09OKH1sB8E64+RGI+Hcb5rlNC13Zw4A0kANv+OscfZxtWAL1CgREALKfMQ9EwbwVpOopV14wA9f/v73h/N1/oOkQnTEasH2uDKhWmbaXVhpDX0lfkoQ8gra9A8enk9fDABlxNk4uA15s/mCGuzop+elSVrB0Km4O0Hk9Vbe3vFeUqd8yDMx7VjR devops@server-tools01

# sd-svn02
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC1x0hJEflR7cg3pFa1Pj4DDrN4hGDvomdU+nuw5un7/GXkOUv8e+FMkMlq3iSvrZMo1GL2HUWZCJQ4ZxkMVDwQbyiawZJfQV6db0AsDCD0TEeY+zuI+RAR+TDBZF4wa9Sry8EX5VfsGbpDhTBIq8UpgyXl+79Zl09OKH1sB8E64+RGI+Hcb5rlNC13Zw4A0kANv+OscfZxtWAL1CgREALKfMQ9EwbwVpOopV14wA9f/v73h/N1/oOkQnTEasH2uDKhWmbaXVhpDX0lfkoQ8gra9A8enk9fDABlxNk4uA15s/mCGuzop+elSVrB0Km4O0Hk9Vbe3vFeUqd8yDMx7VjR devops@sd-svn02

# sd-wikijs01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDjCFRa2Etit8rrdE+BOONNI9j/u2AtmFWFDsj25z5wy6eN1v2jkQbL/iwJKqxx5KNoZCHZjvVn+87F1I3lTsOtTdvfzH7QOb6HaG7axhPKtlK02ohlaGWQx7inYH4dC5mumpB7nRlJN9X9Xg3fnIXlEHobXaQTeJwsWV/weEfk9mdOCQ7Vy+Nxq/BDekzM4eg1OKlnaK+o6/jl7aXlYW4uQPUovbDWuAEiimkN1IDBSksxm0arM2LPXQe76HKtHesl1wokwqgTGQ8XPtw1k4XuVbOkr83EWd5fmykLTVG6ZV/0LVzfA1Y1egX6uC2ftvDzhQHkoRLVgHYYWAUDfWfF devops@sd-wikijs01

# sh-sandbox01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCpPGNYd/LM2Ulk55r4gE3oJYMnBtqmg4E1hXV0WUqKwv4NOgF761E7SuMn3ASsgizZL9I+PL7p6Txy5frtHV8OO5wO8nRIwbVYxfttg2wBg31lx+9N5x0uH8Tikte+T3FTa3w1YknGnCbYQBqYuny+YtgnExPlSMFoAkoQKkuYtb1rf8l4vJtFvDfvgnnv7G31X93qrtUPmgeDJ+qXBNoThShXa8neVnWft2yBkIRr0Qhx78epTaWxs4MopyTRenuVGEC66y8Vg2tqGsyWGbj4FFWBjCHmhAFNZyRfQM9ApVuAN2PfkeIU9d8sHkCf9cYuzsnJO++W9N0xZjsinOmh devops@sh-sandbox01

# sh-sandbox02
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDC2O+74C94hmyxFNpNY0t/3oSVblnbqv6mNhoLWO3XfBSXwpi73qNzlE2RJLmM8rLrc6/RoNAGn2jCoEZ/zN2Eg6uChGEoKXQux/o7JpAmiM4a98z8zvZnM+zleqtFN4SbQTu3AIehJCZscIug+TkVqFHReVYag0CEUxbGElxIQXr0QY5cVveYYL7iucsy+4MQH2D7FgPMF7ZPu7cKaJMMNtBiAXlcjILMFt3pluIdaq+WLEJsxefFImpsTTNW/0jaMdu584PtX4hFh2YZixSzIKJ5WxGFfn04HNO56pXRuE95EFJH9rJifLdO+cznU5iHMREFuD3eu6skallaJXWj devops@sh-sandbox02

# ss-automate01
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDemVAeP/P6xgctCSjxYpzulsGo8j1q6rVOttW4iHIN7XVjFzDXnklqThnRK4ifpNl128zCbMMSDhhB57Vh+n+I/xnFEUavfWLTJatz6yxsrAkLtep6ICQNszReM3NAMWbAIsIKcQH9t+7hfm9qxi/7fD/onllpw5G5FTYxNhF7JIJgRN1Gv4pG/C7fvq8Wi+R18H2KhHNWjRORq46E6RzL8PRfnP2gyc9yl5EeukrEY0coyTg9OM/SOgskSscJqCivjqWNwr70wfxXQtN8Wq5jptMOxD61B4nWQi5BIvixXyHqg8sDlYV+FPcNOcrAjLunwmPlGzM+iHI3GwTMvq4h devops@ss-automate01
