          ______           _____           
          |  _  \         |  _  |          
          | | | |_____   _| | | |_ __  ___ 
          | | | / _ \ \ / / | | | '_ \/ __|
          | |/ /  __/\ V /\ \_/ / |_) \__ \
          |___/ \___| \_/  \___/| .__/|___/
                                | |        
                                |_|   

This system is  restricted solely to authorized users
for  legitimate business purposes only. The actual or
attempted  unauthorized  access, use or modifications
of this system is  strictly  prohibited. Unauthorized
users  are subject to company disciplinary procedures
and  or  criminal  and  civil  penalties under state,
federal or other applicable domestic and foreign laws.

The use of this  system may be monitored/recorded for
administrative and security reasons. Anyone accessing
this system expressly consents to such monitoring and
recording, and is advised that if it reveals possible
evidence of  criminal  activity, the evidence of such
activity may be provided to law enforcement officials.

All users must comply with all corporate instructions
regarding the protection of information assets.

Regards,
DevOps Team

